<div class="main">
	<div class="main-body">
		<% if (!logged) { %>
			<%= view.component("login", {}, "login") %>
		<% } else { %>
			<div class="main-repos">
				<input class="search-query" placeholder="Search Repos" />
				<%= view.component("list.repos", {}, "repos") %>
				<a href="<%- user.get("html_url") %>" target="_blank" class="action-link-user"><%- user.get("name") %></a>
			</div>
			<div class="main-conversations"></div>
		<% } %>
	</div>
	<div class="main-footer">
		<a href="https://github.com/SamyPesse/gitrap">Fork on GitHub</a>
		<a target="_blank" class="author" href="https://friendco.de">Made with <b>♥</b> by FriendCode</a>
	</div>
</div>