<div class="main">
	<div class="main-body">
		<% if (!logged) { %>
			<%= view.component("login", {}, "login") %>
		<% } else { %>
			<div class="main-repos">
				<img class="logo" src="<%- yapp.urls.static("images/favicon.png") %>" />
				<%= view.component("list.repos", {}, "repos") %>
				<a href="<%- user.get("html_url") %>" target="_blank" class="action-link-user"><%- user.get("name") %></a>
			</div>
			<div class="main-repoinfos"></div>
			<div class="main-conversations"></div>
			<div class="main-create-conversation">
				<p>Do you really want to create a new GitRap conversation in this repository ?</p>
				<p class="help">It will create a new empty branch named "gitrap".</p>
				<a href="#" class="action-init-repo">Create GitRap branch</a>
			</div>
		<% } %>
	</div>
	<div class="main-footer">
		<a href="https://github.com/SamyPesse/gitrap">Fork on GitHub</a>
		<a target="_blank" class="author" href="https://friendco.de">Made with <b>♥</b> by FriendCode</a>
	</div>
</div>